<!-- <h1 (click)="output.next('output')">Alert {{ type }}</h1> -->

<div #alertContainer class="container-fluid">
  <div class="row">
    <div class="form-group col-5 d-inline">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <!-- <div class="col-1 d-inline">
        <button class="btn btn-primary" type="submit" (click)="output.next('add')">Button</button>
    </div>
    <div class="col-1 d-inline">
        <button class="btn btn-danger" type="submit" (click)="output.next('remove')">Button</button>
    </div> -->
  </div>
</div>
