<!-- 
  reference variable named alertContainer. 
  The template element is the place ( the container )
  to insert an element.
-->
<div class="container-fluid">
  <div class="row">
    <div class="form-group col-5 d-inline">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="col-1 d-inline">
      <button class="btn btn-primary" type="submit" (click)="createComponent('success')">Button</button>
    </div>
    <div class="col-1 d-inline">
      <button class="btn btn-danger" type="submit" (click)="removeComponent()" [ngClass]= '{disabled: isOn}'>Button</button>
    </div>
  </div>
</div>

<!-- <ng-template #alertContainer></ng-template> -->
<!-- <button (click)="createComponent('success')">Create success alert</button>
<button (click)="removeComponent()">Remove alert</button> -->

<!-- ************** ViewChildren decorator ****************** -->
<!-- <app-alert-two></app-alert-two>
<div #div>#div is a template variable</div> -->
<ng-template #alertContainer2></ng-template>
