<h2>Example of Appending HTML to the DOM using innerHTML directive </h2>
<br>
<div class="container-fluid">
  <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
    <div class="row">
      <div class="form-group col-5 d-inline">
        <input type="text" name="example" [(ngModel)]="example" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="col-1 d-inline">
        <button class="btn btn-primary" type="button" (click)="createHTML()">Button</button>
      </div>
      <div class="col-1 d-inline">
        <button class="btn btn-danger" type="button" (click)="removeHTML()" [ngClass]= '{disabled: isOn}'>Button</button>
      </div>
    </div>
    <ng-container *ngFor="let html of myHtmls">
      <div class="row" [innerHTML]="html | sanitizeHtml"></div>
    </ng-container>
    <button class="btn btn-success" type="submit">Button</button>
  </form>
</div>
